<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
    <param-value>32768</param-value>
  </context-param>

  <!-- Filter configuration for CORS -->
  <filter>
    <filter-name>Cors</filter-name>
    <filter-class>User.Cors</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Cors</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>




</web-app>
